body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#logo-header {
  width: 50%;
  margin: auto;
  text-align: center;
}

#logo-header > img {
  height: 75px;
}

#masthead {
  background: #EAC751;
  padding: 80px;
}

#title {
  padding: 0 50px 50px 50px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: #897B4C;
  font-size: 1.5em;
}

#subtitle {
  text-align: center;
  margin: auto;
  width: 85%;
  font-size: 2.5em;
  font-weight: 600;
  color: white;
}

#explainer {
  color: #4A4A4A;
}

#explainer > .title {
  text-align: center;
  font-size: 2em;
}

#signup {
  background: #DA707C;
  color: white;
  padding: 75px;
  text-align: center;
}

#signup > h3 {
  color: #665254;
}

#mce-EMAIL {
  height: 50px;
  font-size: 3em;
}

.primary-btn {
  background-color: #EAC751;
  border: none;
  color: #665254;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-weight: 600;
  font-size: 2em;
}
